ul {
	padding: 10px;
	text-align: center;
	background-color: rgb(199, 19, 19);
	height: 10vh;
}

li {
	display: inline;
	margin: 1rem;
	list-style-type: none;
	font-size: 36pt;
}

a {
	text-decoration: none;
	color: white;
	font-size: 16pt;
}
