.container {
	text-align: center;
}

.selectLetter {
	padding: 2rem;
	margin: 1rem auto;

	border: 1px solid pink;
	border-radius: 10px;
	background-color: rgb(199, 19, 19);
	color: white;
	height: 20vh;
	width: 80vw;
}

.selectLetter:hover {
	background-color: rgb(238, 9, 150);
}

.titleBtn {
	font-size: 56pt;
	line-height: 1.5;
}

#google-map {
	height: 81vh;
	width: 98vw;
	margin: 1vw auto;
	overflow: hidden;
}
