.captureContainer {
	position: relative;
}

.imageIcons {
	position: absolute;
	left: 50%;
	top: 85%;
	transform: translate(-50%, -50%);
}

.fa-cloud-upload-alt {
	color: skyblue;
}

.fa-ban {
	color: red;
	margin-right: -0.5rem;
}
